<html>
	<head>
	</head>
	<body>
	<h1> The Statistics of {{player.Player}}</h1>
	<p> How many followers does {{player.Player}} have? {{datas.followers}}</p>
	<p>What is {{player.Player}}'s player id? {{datas.player_id}}</p>
	<p>What is {{player.Player}}'s current blitz rating? {{stats.chess_blitz.last.rating}}</p>
	<p>What is {{player.Player}}'s highest blitz rating? {{stats.chess_blitz.best.rating}}</p>

	<p>What is {{player.Player}}'s current bullet rating? {{stats.chess_bullet.last.rating}}</p>
	<p>What is {{player.Player}}'s highest bullet rating? {{stats.chess_bullet.best.rating}}</p>
	
	<form action = '/' method = 'get' id = "return">
	<button type = "submit" form = "return"> Return </Button>
	</body>

</html>